<div *ngIf="identity" class="navigation col-lg-12">
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="selected">{{title}}</a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['/']" routerLinkActive="selected">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Artista</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Album</a>
              </li>
              
              <li class="nav-item">
                <span id="identityName">
                    {{identity.name}}
                </span>
              </li>

              <li class="nav-item">
                <a [routerLink]="['/meus-dados']" routerLinkActive="selected">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    Meus Dados
                </a>
              </li>

              <li class="nav-item">
                <span class="btn btn-warning" (click)="logout()">
                    Sair
                </span>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    
</div>
<div class="clearfix"></div>

<div *ngIf="identity" class="central col-lg-11">
    <p>Estou logado na aplicação</p>
</div>

<div *ngIf="!identity" class="col-lg-12">
    <div class="col-lg-6 floatLeft">
        <h1>Login</h1>
        <div *ngIf="errorMessage">
            <div class="alert alert-info">
                <strong>Erro</strong>
                {{errorMessage}}
            </div>
        </div>
        <form ngNativeValidate #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-10">
            <p>
                <label>Email:</label>
                <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" ngModel email="true" required>
                <span *ngIf="!email.valid && email.touched">
                    Campo obrigatório
                </span>
            </p>
            <p>
                <label>Password:</label>
                <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" ngModel required>
            </p>
            <input type="submit" value="Entrar" class="btn btn-primary">
        </form>
    </div>
    <div class="col-lg-6 floatLeft">
        <h1>Cadastrar</h1>
        <div *ngIf="alertMessage">
            <div class="alert alert-info">
                {{alertMessage}}
            </div>
        </div>
        <form ngNativeValidate (ngSubmit)="onSubmitRegister()" #registerForm="ngForm" class="col-md-10">
            <p>
                <label>Nome:</label>
                <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="userRegister.name" class="form-control" ngModel required>
                <span *ngIf="!name.valid && name.touched">
                    Campo obrigatório
                </span>
            </p>
            <p>
                <label>Sobrenome:</label>
                <input type="text" class="form-control" name="surname" #surname="ngModel" [(ngModel)]="userRegister.surname" class="form-control" ngModel required>
                <span *ngIf="!surname.valid && surname.touched">
                    Campo obrigatório
                </span>
            </p>
            <p>
                <label>Email:</label>
                <input type="email" name="email" #email="ngModel" [(ngModel)]="userRegister.email" class="form-control" ngModel email="true" required>
                <span *ngIf="!email.valid && email.touched">
                    Campo obrigatório
                </span>
            </p>
            <p>
                <label>Password:</label>
                <input type="password" name="password" #password="ngModel" [(ngModel)]="userRegister.password" class="form-control" ngModel required>
            </p>
            <input type="submit" value="Cadastrar" class="btn btn-primary">
        </form>
    </div>
</div>

<router-outlet></router-outlet>