<div *ngIf="identity" class="navigation col-lg-2">
    <nav class="navbar navbar-expand-md navbar-dark fixed-left">
        <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="selected">
            <mdb-icon fas icon="music"></mdb-icon>
            {{title}}
        </a>

        <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#"><mdb-icon fas icon="search"></mdb-icon>Buscar</a>
                </li>

                <li class="nav-item">
                    <a [routerLink]="['/artists']" routerLinkActive="selected" class="nav-link" href="#"><mdb-icon fas icon="star"></mdb-icon>Artista</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"><mdb-icon fas icon="list-alt"></mdb-icon>Albuns</a>
                </li>

            </ul>

            <ul class="navbar-nav navBottom">

                <li class="nav-item">
                    
                    <span id="identityName">
                        <div class="imageUser">
                            <div id="divImageUser" [ngStyle]="{'background-image': 'url(' + divImageUser + ')'}" ></div>
                        </div>
                    </span>
                    {{identity.name}}
                    
                </li>

                <li class="nav-item">
                    <a [routerLink]="['/meus-dados']" routerLinkActive="selected" class="nav-link">
                        <mdb-icon fab icon="whmcs"></mdb-icon>
                        Meus Dados
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link linkLogout" (click)="logout()"><mdb-icon fas icon="power-off"></mdb-icon>
                        Sair
                    </a>
                </li>

            </ul>
        </div>
    </nav>
</div>

<div *ngIf="!identity" class="col-lg-10">
    <div class="col-lg-6 floatLeft">
        <h1>Login</h1>
        <div *ngIf="errorMessage">
            <div class="alert alert-info">
                <strong>Erro</strong>
                {{errorMessage}}
            </div>
        </div>
        <form ngNativeValidate #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-10">
            <p>
                <label>Email:</label>
                <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" ngModel email="true" required>
                <span *ngIf="!email.valid && email.touched">
                    Campo obrigatório
                </span>
            </p>
            <p>
                <label>Password:</label>
                <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" ngModel required>
            </p>
            <input type="submit" value="Entrar" class="btn btn-primary">
        </form>
    </div>
    <div class="col-lg-6 floatLeft">
        <h1>Cadastrar</h1>
        <div *ngIf="alertMessage">
            <div class="alert alert-info">
                {{alertMessage}}
            </div>
        </div>
        <form ngNativeValidate (ngSubmit)="onSubmitRegister()" #registerForm="ngForm" class="col-md-10">
            <p>
                <label>Nome:</label>
                <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="userRegister.name" class="form-control" ngModel required>
                <span *ngIf="!name.valid && name.touched">
                    Campo obrigatório
                </span>
            </p>
            <p>
                <label>Sobrenome:</label>
                <input type="text" class="form-control" name="surname" #surname="ngModel" [(ngModel)]="userRegister.surname" class="form-control" ngModel required>
                <span *ngIf="!surname.valid && surname.touched">
                    Campo obrigatório
                </span>
            </p>
            <p>
                <label>Email:</label>
                <input type="email" name="email" #email="ngModel" [(ngModel)]="userRegister.email" class="form-control" ngModel email="true" required>
                <span *ngIf="!email.valid && email.touched">
                    Campo obrigatório
                </span>
            </p>
            <p>
                <label>Password:</label>
                <input type="password" name="password" #password="ngModel" [(ngModel)]="userRegister.password" class="form-control" ngModel required>
            </p>
            <input type="submit" value="Cadastrar" class="btn btn-primary">
        </form>
    </div>
</div>

<router-outlet></router-outlet>